#gameTitle {
  width: 100%;
  height: 5%;
  font-size:xx-large;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.tabcontainer {
  display: flex;  /* This makes its children line up horizontally */
}


/* Style the tab */
.tab {
  width: 120px;    /* Adjust as necessary */
  z-index: 999;    /*Ensure it's below paint bars but above most content */
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

#tabsContent {
  flex: 1 1 auto; /* This allows the content to take up the remaining space */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  width: calc(100% - 120px);
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none;  /* No need for left border as it's already provided by the tab */
}

#barUpgrades {
  width: 33%;
  height: 100%;
  float: left;
}

#speedUpgrades {
  width: 33%;
  height: 100%;
  float: left;
}

#clickUpgrades {
  width: 33%;
  height: 100%;
  float: right;
}

#paintingCubes {
  width: 100%;
  float: right;
}

.paintAmountBox {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ddd;  /* Light grey background */
  border-radius: 5px;
  /* margin-right: 10px; Space between the box and the progress bar */
  width: 50px; /* Set a fixed width */
  text-align: center; /* Center the text inside the box */
  vertical-align: middle; /* Align it to the middle of the progress bar */
}

.progressBar {
  display: inline-block;
  vertical-align: middle; /* Align to the middle of the paint amount box */
  width: 10%;
  background-color: grey;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 0 0 0;
}

.progressBar:hover {
  background-color: rgb(100,100,100);
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.currentProgress {
  width: 1%;
  height: 30px;
  border-radius: 4px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: darkgrey;
}

#blackCurrentProgress {
  background-color: black;
}
  
#whiteCurrentProgress {
  background-color: white;
}

#blackPaintAmount {
    text-transform: capitalize;
}

#whitePaintAmount {
    text-transform: capitalize;
}

.grid {
  width: 100%;
  float: left;
}
/* Style the grid squares */
.grid button {
  background-color: rgb(200, 200, 200);
  float: left;
  border: none;
  /* border: 1px outset #ccc; */
  border-radius: 0px;
  width: 20;
  height: 20;
  outline: none;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.grid button:hover {
  background-color: rgb(71, 18, 216);
}

.paintSelected{
  width: 4%;
  background-color: grey;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 0 0 0;
}

.paintSelected:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}