#blackProgressBar {
  width: 10%;
  background-color: grey;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 0 0 0;
}

#blackProgressBar:hover {
  background-color: rgb(100,100,100);
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

#blackCurrentProgress {
  width: 1%;
  height: 30px;
  border-radius: 4px;
  background-color: black;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: darkgrey;
}


#whiteProgressBar {
  width: 10%;
  background-color: grey;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 0 0 0;
}

#whiteProgressBar:hover {
  background-color: rgb(100,100,100);
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
  
#whiteCurrentProgress {
  width: 1%;
  height: 30px;
  border-radius: 4px;
  background-color: white;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color:darkgrey;
}

#blackPaintAmount {
    text-transform: capitalize;
}

#whitePaintAmount {
    text-transform: capitalize;
}
